@CHARSET "UTF-8";

#typeSelect, #startStopButton {
	float: left;
	margin: 4px;
}

#theCanvas {
	background: #000000;
}

.resizable {
	float: left; /* trigger shrinkwrap */
	padding: 10px;
	margin: 4px;
}

.clearfloat {
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
}
